body{
    background-color: #b3bdb7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #5f977c;
    color: white;
    text-align: center;
    padding: 1em;
}
nav{
    margin:10px;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul{
    list-style-type: disc;
    padding: 20px;
    margin: 10px;
}
div{
    text-align: right;
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
li{
    list-style-type: decimal-leading-zero;
}
main{
    margin: 20px;
}
footer{
    background-color: #81737f;
    color: white;
    text-align: center;
    padding: 5px;
    
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-align: justify;
    background-color: #bdbdc3;
    padding: 0;
    margin: 0;
}
table{
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}
th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th{
    background-color: #d4d1d0;
}